.myName {
    color: blueviolet;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;
    margin-bottom: 150px;
    padding-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}

.half-width img {
    width: 75%;
}

.anchor-design {
    text-decoration: none;
    background-image: linear-gradient(salmon, purple);
    padding: 10px 50px;
    color: white;
    font-weight: 700;

}

.starting-tab {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-bannar {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.border-shadow {
    width: 40%;
    margin-inline: 5%;
    box-shadow: 10px 10px 10px gray;
    border-left: 10px solid salmon;
    border-radius: 20px;
    padding-left: 20px;
}

#full-sack {
    border-left: 10px solid salmon;
}

#Baby-web {
    border-left: 10px solid blue;
}

footer {
    text-align: center;
}